/* ZazoomTek global scrollbar */
html{
  scrollbar-width:thin;
  scrollbar-color:#a30f35 #101114;
}
body{
  scrollbar-gutter:stable;
}
::-webkit-scrollbar{
  width:10px;
  height:10px;
}
::-webkit-scrollbar-track{
  background:#101114;
}
::-webkit-scrollbar-thumb{
  background:#D51232;
  border:2px solid #101114;
  border-radius:999px;
}
::-webkit-scrollbar-thumb:hover{
  background:#B30F2C;
}
::-webkit-scrollbar-corner{
  background:#101114;
}
